.imagemS {
    width: 379px; 
    height: 451px; 
  }

  .imagemM {
    width: 237px; 
    height: 461px; 
  }

  .imagens-container {
    display: flex;
    justify-content: center;
}

.imagemS {
    margin-left: 100px; 
}

  